@import "./index.scss";
@import "./colors.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: $main;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: $second;
  }
}
