.card {
  margin: 20px 20px;
  text-decoration: none;
  color: $second;
  box-shadow: 4px 10px 20px black;
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;

  .idioma {
    width: 108px;
    font-size: 18px;
    position: absolute;
    margin-top: -422px;
    margin-right: 315px;
    text-align: center;
    padding: 10px 0px;
    z-index: 800;
    background-color: $detalles;
    color: $second;
  }

  .cardcont {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    object-fit: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: $third;

    .space {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      .bum {
        font-size: 35px;
        color: $third;
        margin: 10px 5px 10px 5px;
      }
      img {
        height: 230px;
        width: 400px;
        filter: grayscale(100%);
        object-fit: cover;
      }
      .titulo {
        margin: 2px 8px;
        font-size: 22px;
      }
      .precio {
        margin: 2px;
        font-size: 24px;
      }
    }

    .cardboton {
      width: 100px;
      margin-bottom: 15px;
      transition: transform 0.4s ease-in-out;
    }
    .cardboton:hover {
      transform: rotate(-360deg);
      scale: 1.05;
    }
  }

  //HOVERED
  .cardconthover {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    object-fit: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-image: url("/images/gif1.gif");
    background-size: cover;

    .spacehover {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      .bum {
        font-size: 35px;
        color: $detalles;
        margin: 10px 5px 10px 5px;
      }
      img {
        height: 230px;
        width: 400px;
        filter: grayscale(100%);
        object-fit: cover;
      }
      .titulo {
        margin: 2px 8px;
        font-size: 22px;
      }
      .precio {
        margin: 2px;
        font-size: 24px;
      }
    }

    .cardboton {
      width: 100px;
      margin-bottom: 15px;
      transition: transform 0.4s ease-in-out;
    }
    .cardboton:hover {
      transform: rotate(-360deg);
      scale: 1.05;
    }
  }
  .cardcont:hover {
    scale: 1.02;
  }
  .cardconthover:hover {
    scale: 1.02;
  }
}

@media (max-width: 1440px) {
  .card {
    margin: 20px 20px;
    width: 368px;
    height: 460px;
    .idioma {
      width: 105px;
    padding: 8px 0px;
      font-size: 17px;
      margin-top: -391px;
      margin-right: 278px;
    }
    .cardcont {
      width: 368px;
      height: 460px;
      .space {
        margin-bottom: 8px;
        .bum {
          font-size: 28px;
          margin: 10px 5px 10px 5px;
        }
        img {
          height: 210px;
          width: 368px;
        }
        .titulo {
          font-size: 20px;
        }
        .precio {
          font-size: 22px;
        }
      }
      .cardboton {
        width: 90px;
        margin-bottom: 15px;
      }
    }
    //HOVERED
    .cardconthover {
      width: 368px;
      height: 460px;
      .spacehover {
        margin-bottom: 8px;
        .bum {
          font-size: 28px;
          margin: 10px 5px 10px 5px;
        }
        img {
          height: 210px;
          width: 368px;
        }
        .titulo {
          font-size: 20px;
        }
        .precio {
          font-size: 22px;
        }
      }
      .cardboton {
        width: 90px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 780px) {
  .card {
    margin: 10px 10px;
    margin: 5px 5px;
    width: 320px;
    height: 400px;
    .idioma {
      width: 90px;
    padding: 7.5px 0px;
      font-size: 15px;
      margin-top: -340px;
      margin-right: 242px;
    }
    .cardcont {
      background-image: url("/images/gif1.gif");
      background-size: cover;
      width: 320px;
      height: 400px;
      .space {
        margin-bottom: 3px;
        .bum {
          color: $detalles;
          font-size: 26px;
          margin: 10px 5px 10px 5px;
        }
        img {
          height: 180px;
          width: 320px;
        }
        .titulo {
          font-size: 18px;
        }
        .precio {
          font-size: 20px;
        }
      }
      .cardboton {
        width: 80px;
        margin-bottom: 15px;
      }
    }
    //HOVERED
    .cardconthover {
      width: 320px;
      height: 400px;
      .spacehover {
        margin-bottom: 3px;
        .bum {
          font-size: 26px;
          margin: 10px 5px 10px 5px;
        }
        img {
          height: 180px;
          width: 320px;
        }
        .titulo {
          font-size: 18px;
        }
        .precio {
          font-size: 20px;
        }
      }
      .cardboton {
        width: 80px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 560px) {
  .card {
    margin: 10px 10px;
    margin: 5px 5px;
    width: 290px;
    height: 370px;
    .idioma {
      width: 80px;
      padding: 7.5px 0px;
      font-size: 14px;
      margin-top: -308px;
      margin-right: 226px;
    }
    .cardcont {
      background-image: url("/images/gif1.gif");
      background-size: cover;
      width: 290px;
      height: 370px;
      .space {
        margin-bottom: 3px;
        .bum {
          color: $detalles;
          font-size: 23px;
          margin: 10px 5px 10px 5px;
        }
        img {
          height: 160px;
          width: 290px;
        }
        .titulo {
          font-size: 16px;
        }
        .precio {
          font-size: 18px;
        }
      }
      .cardboton {
        width: 70px;
        margin-bottom: 15px;
      }
    }
    //HOVERED
    .cardconthover {
      width: 290px;
      height: 370px;
      .spacehover {
        margin-bottom: 3px;
        .bum {
          font-size: 23px;
          margin: 10px 5px 10px 5px;
        }
        img {
          height: 160px;
          width: 290px;
        }
        .titulo {
          font-size: 16px;
        }
        .precio {
          font-size: 18px;
        }
      }
      .cardboton {
        width: 70px;
        margin-bottom: 15px;
      }
    }
  }
}
