.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.068);
  backdrop-filter: blur(20px);

  .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $second;
  }
  .logo {
    display: flex;
    margin-left: 60px;
    text-decoration: none;
    height: 60px;
    transition: 0.2s ease-in-out;
  }
  .logo:hover {
    scale: 1.1;
  }
  .menuMovil {
    display: none;
    .nomenucontainer {
      display: none;
    }
    .menucontainer {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.425);
      backdrop-filter: blur(20px);
      z-index: 1000;
      h2 {
        font-size: 28px;
      }
      .close {
        margin-top: 10px;
        font-size: 40px;
        color: $second;
      }
      .menuinactive {
        text-decoration: none;
        padding: 0 25px;
        color: $second;
        transition: 0.2s ease-in-out;
      }
      .menuinactive:hover {
        scale: 1.05;
        color: white;
      }
      .menuactive {
        text-decoration: line-through;
        text-decoration-color: $detalles;
        text-decoration-thickness: 3px;
        color: $second;
        padding: 0 25px;
        cursor: default;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    h2 {
      font-size: 18px;
    }

    .menuinactive {
      text-decoration: none;
      padding: 0 25px;
      color: $second;
      transition: 0.2s ease-in-out;
    }
    .menuinactive:hover {
      scale: 1.05;
      color: white;
    }
    .menuactive {
      text-decoration: line-through;
      text-decoration-color: $detalles;
      text-decoration-thickness: 3px;
      color: $second;
      padding: 0 25px;
      cursor: default;
    }
  }
  .perfil {
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    .lang {
      transition: 0.2s ease-in-out;
      h2 {
        margin: 2px 0;
      }
    }
    .lang:hover {
      scale: 1.05;
      color: white;
    }
    .show {
      display: flex;
      flex-direction: column;
      position: absolute;
    }
    .noshow {
      display: none;
    }
    .whats {
      background-color: rgba(0, 0, 0, 0);
      color: $second;
      border: none;
      font-size: 35px;
      margin: 0 0 0 30px;
      padding: 6px 0 0 0;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    .whats:hover {
      scale: 1.1;
      color: white;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    .logo {
      margin-left: 30px;
    }

    .menu {
      h2 {
        font-size: 16px;
      }

      .menuinactive {
        padding: 0 16px;
      }

      .menuactive {
        padding: 0 16px;
      }
    }
    .perfil {
      margin-right: 30px;

      .whats {
        font-size: 30px;
        margin: 0 0 0 20px;
        padding: 3px 0 0 0;
      }
    }
  }
}

@media (max-width: 780px) {
  .navbar {
    .logo {
      margin-left: 30px;
    }

    .menu {
      display: none;
    }
    .menuMovil {
      display: flex;
      .menucontainer {
        h2 {
          font-size: 22px;
          margin: 10px;
        }
      }
    }
    .perfil {
      margin-right: 30px;

      .whats {
        font-size: 30px;
        margin: 0 0 0 20px;
        padding: 3px 0 0 0;
      }
    }
  }
}
