.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.068);
  backdrop-filter: blur(20px);

  .container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $second;
  }
  .logo {
    display: flex;
    margin-left: 80px;
    text-decoration: none;
    height: 60px;
    transition: 0.2s ease-in-out;
  }
  .logo:hover {
    scale: 1.1;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    h2 {
      font-size: 18px;
    }

    .menuinactive {
      text-decoration: none;
      padding: 0 25px;
      color: $second;
      transition: 0.2s ease-in-out;
    }
    .menuinactive:hover {
      scale: 1.05;
      color: white;
    }
    .menuactive {
      text-decoration: line-through;
      text-decoration-color: $detalles;
      text-decoration-thickness: 3px;
      color: $second;
      padding: 0 25px;
      cursor: default;
    }
  }
  .perfil {
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    .lang {
      transition: 0.2s ease-in-out;
    }
    .lang:hover {
      scale: 1.05;
      color: white;
    }
    .show {
      display: flex;
      flex-direction: column;
      position: absolute;
    }
    .noshow {
      display: none;
    }
    .whats {
      background-color: rgba(0, 0, 0, 0);
      color: $second;
      border: none;
      font-size: 35px;
      margin: 0 0 0 50px;
      padding: 6px 0 0 0;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    .whats:hover {
      scale: 1.1;
      color: white;
    }
  }
}
