.personalizado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: $second;
  text-align: center;
  min-height: 100vh;

  h1 {
    margin-top: 80px;
    font-size: 70px;
    margin-bottom: 0px;
    width: 70%;
  }
  .detalles {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $detalles;
    h2 {
      color: $second;
      margin: 20px 30px;
      font-size: 28px;
      span {
        margin-right: 25px;
      }
    }
  }
  .descripcion {
    width: 70%;
    margin-bottom: 5px;
    text-align: justify;
    h3 {
      font-size: 22px;
      margin: 0 0 20px;
    }
  }
  .formulario {
    margin-bottom: 100px;
    .grupo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        font-size: 20px;
        margin: 10px 0 5px;
      }
      input,
      select {
        width: 450px;
        height: 35px;
        text-align: center;
        background-color: $second;
      }
      .archivo {
        font-family: "Oswald", sans-serif;
        text-align: center;
        background-color: transparent;
        border-radius: 0;
        border: none;
        padding-left: 200px;
        margin: 8px;
        height: 30px;
        width: 450px;
      }
    }
    .loginbtn {
      margin: 60px 0 20px;
      padding: 10px 20px;
      border: 1px solid $second;
      color: $main;
      font-size: 20px;
      font-weight: 500;
      width: 300px;
      border-radius: 10px;
      cursor: pointer;
      font-family: "Oswald", sans-serif;
    }
    .loginbtn:hover {
      background-color: $detalles;
      color: $second;
      border: 1px solid $detalles;
    }
  }
}
