.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main;
  color: $second;
  z-index: 100;
  // border-top: 5px solid $detalles;
  .baner {
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $detalles;
    width: 100%;
    height: 80px;
    overflow: hidden;

    white-space: nowrap;

    .scroll {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .marquee {
        h2 {
          font-size: 60px;
          letter-spacing: 16px;
          margin: 0;
        }
      }
    }
  }

  .infofooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .ayunta {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      .logoayunta {
        width: 200px;
        transition: 0.2s ease-in-out;
      }
      .logoayunta:hover {
        scale: 1.1;
      }
    }
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .contacta {
        color: $second;
        text-decoration: none;
        margin: 20px 0 0 0;
        font-size: 20px;
        transition: 0.2s ease-in-out;
      }

      .contacta:hover {
        scale: 1.05;
        color: white;
      }

      .social {
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
        h5 {
          margin: 0 15px;
          font-size: 20px;
          padding: 7px 11px 5px 11px;
          border: 2px solid $second;
          border-radius: 50px;
          transition: 0.2s ease-in-out;
          cursor: pointer;
        }
        h5:hover {
          color: white;
          scale: 1.1;
        }
      }

      .diseño {
        display: flex;
        margin: 50px 0 10px 0;
      }
    }
    .logopage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      .logo {
        width: 80px;
        transition: 0.2s ease-in-out;
      }
      .logo:hover {
        scale: 1.1;
      }
    }
  }
}
