.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: $main;
  background-image: url("/images/gordo.png");
  background-size: cover;
  color: $second;
  h2 {
    z-index: 200;
  }
  .limbo {
    z-index: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: $detalles;
    margin: 0 0 10px;
    span {
      font-size: 120px;
    }

    h1 {
      text-align: center;
      font-size: 60px;
      margin: 0;
    }
  }
  a {
    z-index: 200;
    text-decoration: none;
    color: $second;
    transition: 0.2s ease-in-out;
    margin-bottom: 150px;
  }
  a:hover {
    scale: 1.1;
  }
}
.error:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1f1f1fb9;
}
