.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main;
  background-image: url("/images/pexels-victor-freitas-2261483.jpg");
  background-size: cover;
  color: $second;
  h2 {
    z-index: 200;
  }
  .limbo {
    z-index: 200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: $detalles;
    margin: 0 0 10px;
    span {
      font-size: 120px;
    }

    h1 {
      text-align: center;
      font-size: 46px;
      margin: 0;
    }
  }
  a {
    z-index: 200;
    text-decoration: none;
    color: $second;
    transition: 0.2s ease-in-out;
  }
  a:hover {
    scale: 1.1;
  }
}
.error:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1f1f1fd5;
}

@media (max-width: 1024px){
  .error {
    h2 {
      font-size: 20px;
    }
    .limbo {
      margin: 0 0 10px;
      span {
        font-size: 80px;
      }
  
      h1 {
        font-size: 36px;
      }
    }
    a {
      z-index: 200;
      h1{
        font-size: 26px;
      }
    }
  }
}
@media (max-width: 780px){
  .error {
    h2 {
      font-size: 18px;
    }
    .limbo {
      margin: 0 0 10px;
      span {
        font-size: 60px;
      }
  
      h1 {
        font-size: 24px;
      }
    }
    a {
      z-index: 200;
      h1{
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 560px){
  .error {
    h2 {
      font-size: 18px;
    }
    .limbo {
      flex-direction: column;
      margin: 0 0 10px;
      span {
        font-size: 60px;
      }
  
      h1 {
        font-size: 24px;
      }
    }
    a {
      z-index: 200;
      h1{
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 480px){
  .error {
    h2 {
      font-size: 14px;
    }
    .limbo {
      flex-direction: column;
      margin: 0 0 10px;
      span {
        font-size: 60px;
      }
  
      h1 {
        font-size: 22px;
        margin: 0 10px;
      }
    }
    a {
      z-index: 200;
      h1{
        font-size: 18px;
      }
    }
  }
}