.admin {
  color: $second;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 70px 0 0;
  min-height: 100vh;
  .objetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    margin: 0 30px 20px;
    h1 {
      font-size: 23px;
      margin-bottom: 30px;
    }
    .enumera {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 380px;
      .linea {
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $detalles;
        border-bottom: 1px solid $detalles;
        h2 {
          font-size: 15px;
        }
        .iconitos {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .tamaño {
            margin-left: 20px;
            color: $main;
            background-color: $second;
            font-size: 18px;
            cursor: pointer;
            padding: 6px;
            border-radius: 5px;
          }
          .tamaño:hover {
            background-color: $detalles;
            color: $second;
          }
        }
      }
    }
    .btn {
      text-decoration: none;
      text-align: center;
      background-color: $second;
      margin: 40px 0 20px;
      padding: 8px 15px;
      border: 1px solid $second;
      color: $main;
      font-size: 17px;
      font-weight: 500;
      width: 250px;
      border-radius: 10px;
    }
    .btn:hover {
      background-color: $detalles;
      color: $second;
      border: 1px solid $detalles;
    }
  }
}

@media (max-width: 480px){
  .admin {
    .objetos {
      width: 320px;
      margin: 0 10px 20px;
      h1 {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .enumera {
        width: 300px;
        .linea {
          h2 {
            font-size: 13px;
          }
          .iconitos {
            .tamaño {
              margin-left: 10px;
              font-size: 14px;
              padding: 6px;
            }
          }
        }
      }
      .btn {
        margin: 20px 0 20px;
        padding: 8px 15px;
        font-size: 13px;
        width: 200px;
      }
    }
  }
}