.admin {
  min-height: 100vh;
  color: $second;
  .login {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 35px;
      border-radius: 15px;

      .cover {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          font-size: 18px;
          font-weight: 400;
          margin: 10px;
        }
        input {
          border-radius: 5px;
          width: 210px;
          height: 35px;
          margin-bottom: 15px;
          text-align: center;
          border: 1px solid $third;
          background-color: $second;
        }
      }
      .loginbtn {
        margin: 20px;
        padding: 10px 20px;
        background-color: $second;
        border: 1px solid $second;
        color: $main;
        font-size: 20px;
        font-weight: 500;

        border-radius: 10px;
        cursor: pointer;
        font-family: "Oswald", sans-serif;
      }
      .loginbtn:hover {
        background-color: $detalles;
        color: $second;
        border: 1px solid $detalles;
      }
    }
  }
  .panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .lista {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 70px 0 100px;
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .formaciones {
          .wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $detalles;
            border-bottom: 1px solid $detalles;
            width: 100%;
            h2 {
            }
            .icons {
              display: flex;
              flex-direction: row;
              margin-left: 60px;
              a {
                text-decoration: none;
                margin-right: 30px;
              }
              .icon {
                color: $main;
                background-color: $second;
                font-size: 20px;
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
              }
              .icon:hover {
                background-color: $detalles;
                color: $second;
              }
            }
          }
        }
      }
    }
    .loginbtn {
      text-decoration: none;
      text-align: center;
      background-color: $second;
      margin: 40px 0 20px;
      padding: 10px 20px;
      border: 1px solid $second;
      color: $main;
      font-size: 20px;
      font-weight: 500;
      width: 300px;
      border-radius: 10px;
      cursor: pointer;
      font-family: "Oswald", sans-serif;
    }
    .loginbtn:hover {
      background-color: $detalles;
      color: $second;
      border: 1px solid $detalles;
    }
  }
}
