.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: $second;
  background-color: $main;
  height: 100vh;
  // background-image: url("../../assets/images/fondo.jpg");

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .name {
      margin: 80px 0 0 0;
      z-index: 200;

      h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: -10px;
      }
    }
    img {
      width: 250px;

      margin: 20px 0 0 0;
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0 100px 0;
  }

  h1 {
    font-size: 75px;
    font-weight: 800;
  }

  .contactinfo {
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;

    .separador {
      border: none;
      color: $second;
      background-color: $main;
      margin: 0 50px;
      transition: transform 0.5s;
      cursor: pointer;
      transition: scale 0.2s ease-in-out;

      .iconos {
        font-size: 100px;
        transition: transform 0.2s;
      }
      h5 {
        font-size: 23px;
      }
    }
    .separador:hover .iconos {
      transform: rotate(20deg);
    }
    .separador:hover {
      scale: 1.02;
    }
  }
}
