.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: $second;
  background-color: $main;
  height: 100vh;
  // background-image: url("../../assets/images/fondo.jpg");

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .name {
      margin: 80px 0 0 0;
      z-index: 200;

      h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: -10px;
      }
    }
  }

  h1 {
    font-size: 75px;
    font-weight: 800;
  }

  .contactinfo {
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;

    .separador {
      border: none;
      color: $second;
      background-color: $main;
      margin: 0 20px 60px;
      transition: transform 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: scale 0.2s ease-in-out;

      .boton {
        height: 140px;
        transition: transform 0.4s ease-in-out;
      }

      .iconos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        margin-top: 20px;
        h5 {
          font-family: "Oswald", sans-serif;
          margin: 0;
        }
      }
    }
    .separador:hover .boton {
      transform: rotate(-360deg);
    }
    .separador:hover {
      scale: 1.02;
    }
  }
}
