.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: $main;
  color: $second;

  //PANTALLA PRINCIPAL
  .portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-image: url("/images/giphy.gif");
    background-size: cover;
    background-color: $main;
    width: 100%;
    .separador {
      height: 10px;
    }
    .titulo {
      z-index: 200;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 9vw;
        font-weight: 800;
        margin: -10px;
        letter-spacing: 8px;
        text-shadow: 4px 10px 20px black;
      }
    }
    .social {
      //   position: absolute;
      //   top: 28vh;
      //   right: 60px;
      //fle-direction:column;
      display: flex;
      flex-direction: row;
      margin: -45px 0 -30px;
      h5 {
        margin: 0 30px;
        font-size: 20px;
        padding: 7px 11px 5px 11px;
        border: 2px solid $second;
        border-radius: 50px;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        opacity: 0.8;
      }
      h5:hover {
        color: white;
        scale: 1.1;
        opacity: 1;
      }
    }
    .baner {
      z-index: 200;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $detalles;
      width: 100%;
      height: auto;
      overflow: hidden;

      .scroll {
        display: flex; /* Important to give the content a width */
        align-items: center;
        justify-content: center;

        transform: translateX(100%); /* Animation start out of the screen */
        /* infinite make reapeat the animation indefinitely */
        animation: move 8s linear infinite;
        h2 {
          display: block;
          width: 1400px;
          font-size: 50px;
          letter-spacing: 16px;
          margin: 0;
        }
      }
    }
  }
  .portada:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #1f1f1f81;
  }

  // PROGRAMA ONLINE
  .programaonline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    .iz {
      width: 55%;
      height: 100;
      display: flex;
      flex-direction: column;
      padding: 60px 20px 60px 180px;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 5vw;
        margin: 20px 0;
      }
      .flecha {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 1.8vw;
        }
        .ico {
          font-size: 150px;
          color: $detalles;
        }
      }
    }
    .de {
      width: 45%;
      .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 180px;
        .boton {
          height: 250px;
          transition: transform 0.4s ease-in-out;
        }
        .boton:hover {
          scale: 1.1;
          transform: rotate(-360deg);
        }
      }
    }
  }
  //PROGRAMAS TIPO
  .programastipo {
    border-top: 3px solid $opacity;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    min-height: 100vh;
    width: 100%;
    .texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 5vw;
        margin: 10px 0 5px 0;
      }
    }
    .container {
      width: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0 180px;
      .nextformacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
          margin-left: 30px;
        }
        .items {
          display: flex;
          flex-direction: row;
        }
      }
      .formacionlink {
        text-align: left;
        width: 80%;

        z-index: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .ico {
          font-size: 150px;
          color: $detalles;
          transform: scaleX(-1);
        }
        h2 {
          font-size: 1.8vw;
          margin: 20px 0 20px 20px;
          text-align: right;
        }
        .boton {
          height: 250px;
          margin: 0 40px;
          transition: transform 0.4s ease-in-out;
        }
        .boton:hover {
          scale: 1.1;
          transform: rotate(-360deg);
        }
      }
    }
  }

  //STREAMING
  .streaming {
    border-top: 3px solid $opacity;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    width: 100%;
    h1 {
      font-size: 5vw;
      margin: 0 0 30px 180px;
    }
    .cont {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .iz {
        width: 45%;
        .wrap {
          padding-right: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          .boton {
            height: 250px;
            transition: transform 0.4s ease-in-out;
          }
          .boton:hover {
            scale: 1.1;
            transform: rotate(-360deg);
          }
        }
      }
      .de {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 0 0px 180px;

        h2 {
          font-size: 1.8vw;
          margin: 10px 0;
        }
        .flecha {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .ico {
            margin-left: 30px;
            font-size: 150px;
            color: $detalles;
          }
          .hor {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h2 {
              text-align: left;
              font-size: 1.8vw;
            }
          }
        }
      }
    }
  }

  //FORMACIONES PRESENCIALES
  .formacionestecnicas {
    border-top: 3px solid $opacity;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    min-height: 100vh;
    width: 100%;
    .texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 5vw;
        margin: 10px 0 5px 0;
      }
    }
    .container {
      width: auto;
      height: 700px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .nextformacion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h2 {
          margin-left: 30px;
        }
      }
      .formacionlink {
        text-align: left;
        width: 900px;
        margin-right: 40px;
        height: 700px;
        z-index: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 60px;

        h2 {
          font-size: 1.8vw;
          margin: 20px 40px;
        }
        .boton {
          height: 250px;

          transition: transform 0.4s ease-in-out;
        }
        .boton:hover {
          scale: 1.1;
          transform: rotate(-360deg);
        }
      }
    }
  }

  //NOSOTROS
  .sobrenosotros {
    border-top: 3px solid $opacity;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    .iz {
      width: 55%;
      height: 100;
      display: flex;
      flex-direction: column;
      padding: 10px 20px 60px 180px;
      align-items: flex-start;
      justify-content: center;
      h1 {
        font-size: 5vw;
        margin: 0 0 80px;
      }
      img {
        height: 400px;
      }
    }
    .de {
      width: 45%;
      .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 180px 20px 60px;
        h2 {
          font-size: 1.8vw;
        }
        .boton {
          height: 250px;
          transition: transform 0.4s ease-in-out;
        }
        .boton:hover {
          scale: 1.1;
          transform: rotate(-360deg);
        }
      }
    }
  }

  //CLASES PRESENCIALES
  .clasespresenciales {
    border-top: 3px solid $opacity;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 80vh;
    width: 100%;
    h1 {
      font-size: 5vw;
      margin: 0 180px 30px 0;
    }
    .cont {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .iz {
        width: 45%;
        .wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 180px;
          .boton {
            height: 250px;
            transition: transform 0.4s ease-in-out;
          }
          .boton:hover {
            scale: 1.1;
            transform: rotate(-360deg);
          }
        }
      }
      .de {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0 180px 0px 20px;

        h2 {
          font-size: 1.8vw;
          margin: 10px 0;
        }
        .flecha {
          margin-right: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .ico {
            font-size: 150px;
            color: $detalles;
            transform: scaleX(-1);
          }
          .hor {
            margin-left: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            h2 {
              text-align: right;
              font-size: 1.8vw;
            }
          }
        }
      }
    }
  }
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
