.infopage {
  color: $second;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;

  .tarifas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    .top {
      margin: 90px 0 5px 0;
    }
    h1 {
      margin: 5px 0 5px 0;
      text-align: center;
      font-size: 50px;
    }
    .box {
      text-align: justify;
      padding: 10px 50px;
      margin-bottom: 10px;
      background-color: $third;
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
      }
      .tabla {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .columniz {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .nobox {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .infopage {
    .tarifas {
      .top {
        margin: 90px 0 5px 0;
      }
      h1 {
        margin: 5px 0 5px 0;
        font-size: 40px;
      }

      .box {
        padding: 10px 30px;
        h2 {
          font-size: 24px;
        }
        h3 {
          font-size: 16px;
          margin: 8px;
        }
        .tabla {
          margin-bottom: 20px;
          .columniz {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .infopage {
    .tarifas {
      .top {
        margin: 90px 0 5px 0;
      }
      h1 {
        margin: 5px 0 5px 0;
        font-size: 28px;
      }

      .box {
        padding: 10px 20px;
        h2 {
          font-size: 22px;
        }
        h3 {
          font-size: 16px;
        }
        .tabla {
          margin-bottom: 15px;
          .columniz {
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .infopage {
    .tarifas {
      .top {
        margin: 90px 0 5px 0;
      }
      h1 {
        margin: 5px 0 5px 0;
        font-size: 24px;
      }

      .box {
        padding: 10px 15px;
        h2 {
          font-size: 20px;
        }
        h3 {
          font-size: 14px;
        }
        .tabla {
          margin-bottom: 10px;
          .columniz {
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .infopage {
    .tarifas {
      .top {
        margin: 90px 0 5px 0;
      }
      h1 {
        margin: 5px 0 5px 0;
        font-size: 22px;
      }

      .box {
        padding: 10px 15px;
        h2 {
          font-size: 16px;
        }
        h3 {
          font-size: 12px;
        }
        .tabla {
          margin-bottom: 10px;
          .columniz {
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .infopage {
    .tarifas {
      .top {
        margin: 90px 0 5px 0;
      }
      h1 {
        margin: 5px 0 5px 0;
        font-size: 20px;
      }

      .box {
        padding: 10px 15px;
        h2 {
          font-size: 16px;
        }
        h3 {
          font-size: 12px;
        }
        .tabla {
          margin-bottom: 10px;
          .columniz {
          }
        }
      }
    }
  }
}