.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $second;
  margin-top: 30px;
  .titulo {
    h1 {
      font-size: 70px;
      margin-bottom: 30px;
    }
  }
  .fundador {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      font-size: 55px;
      margin: 0 0 10px;
      text-align: center;
    }
    .grup {
      // border-bottom: 3px solid $opacity;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 20px 0 30px;
      flex-wrap: wrap;
      .man {
        height: 450px;
      }
      .sideIz {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 400px;
        width: 42vw;
        margin-right: 50px;
        text-align: left;

        h2 {
          margin: 10px 0 10px;
          font-size: 30px;
          background-color: $detalles;
          width: 100%;
          padding-left: 20px;
          span {
            margin: 4px 0 0 20px;
          }
        }
        h3 {
          font-size: 20px;
          margin: 10px 0 0 0;
          padding-left: 20px;
        }
      }
      // .sideDe {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-end;
      //   justify-content: flex-start;
      //   text-align: left;
      //   height: 400px;
      //   width: 35vw;
      //   margin-left: 50px;
      //   h2 {
      //     margin: -30px 0 10px;
      //     font-size: 30px;
      //     background-color: $detalles;
      //     width: 100%;
      //     padding-left: 20px;
      //     span {
      //       margin: 4px 0 0 20px;
      //     }
      //   }
      //   h3 {
      //     text-align: justify;
      //     font-size: 20px;
      //     margin: 10px 0 0 0;
      //     padding-right: 20px;
      //   }
      // }
    }
  }
  .club {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    h1 {
      font-size: 55px;
      margin: 0 0 10px;
    }
    h3 {
      font-size: 20px;
      width: 85%;
    }
    .galeria {
    }
  }
}

@media (max-width: 1024px) {
  .nosotros {
    margin-top: 30px;
    .titulo {
      h1 {
        font-size: 57px;
      }
    }
    .fundador {
      width: 90%;
      margin-bottom: 30px;

      h1 {
        font-size: 40px;
        margin: 0 0 10px;
      }
      .grup {
        margin: 0 0 30px;
        .man {
          height: 380px;
        }
        .sideIz {
          height: auto;
          width: 42vw;
          margin-right: 50px;

          h2 {
            margin: 10px 0 10px;
            font-size: 24px;
            background-color: $detalles;
            width: 100%;
            padding-left: 20px;
            span {
              margin: 4px 0 0 15px;
            }
          }
          h3 {
            font-size: 18px;
            margin: 10px 0 0 0;
            padding-left: 20px;
          }
        }
      }
    }
    .club {
      margin-bottom: 30px;
      h1 {
        font-size: 40px;
        margin: 0 0 10px;
      }
      h3 {
        font-size: 18px;
        width: 85%;
      }
      .galeria {
      }
    }
  }
}

@media (max-width: 780px) {
  .nosotros {
    margin-top: 40px;
    .titulo {
      h1 {
        font-size: 48px;
        text-align: center;
      }
    }
    .fundador {
      width: 90%;
      margin-bottom: 20px;

      h1 {
        font-size: 35px;
        margin: 0 0 10px;
      }
      .grup {
        margin: 0 0 30px;
        .man {
          height: 330px;
        }
        .sideIz {
          width: 85vw;
          margin-right: 20px;
          height: auto;

          h2 {
            margin: 10px 0 10px;
            font-size: 22px;
            background-color: $detalles;
            width: 100%;
            padding-left: 22px;
            span {
              margin: 4px 0 0 15px;
            }
          }
          h3 {
            font-size: 16px;
            margin: 0;
            padding-left: 20px;
          }
        }
      }
    }
    .club {
      margin-bottom: 30px;
      h1 {
        font-size: 35px;
        margin: 0 0 10px;
      }
      h3 {
        font-size: 16px;
        width: 85%;
      }
      .galeria {
      }
    }
  }
}

@media (max-width: 560px) {
  .nosotros {
    margin-top: 50px;
    .titulo {
      h1 {
        font-size: 38px;
        text-align: center;
      }
    }
    .fundador {
      width: 90%;
      margin-bottom: 20px;

      h1 {
        font-size: 28px;
        margin: 0 0 10px;
      }
      .grup {
        margin: 0 0 30px;
        .man {
          height: 300px;
        }
        .sideIz {
          width: 90vw;

          height: auto;

          h2 {
            margin: 10px 0 10px;
            font-size: 20px;
            background-color: $detalles;
            width: 100%;
            padding-left: 22px;
            span {
              margin: 4px 0 0 15px;
            }
          }
          h3 {
            font-size: 14px;

            padding-left: 20px;
          }
        }
      }
    }
    .club {
      margin-bottom: 30px;
      h1 {
        font-size: 28px;
        margin: 0 0 10px;
      }
      h3 {
        font-size: 14px;
        width: 85%;
      }
      .galeria {
      }
    }
  }
}

@media (max-width: 480px) {
  .nosotros {
    margin-top: 60px;
    .titulo {
      h1 {
        font-size: 27px;
        text-align: center;
      }
    }
    .fundador {
      width: 90%;
      margin-bottom: 20px;

      h1 {
        font-size: 24px;
        margin: 0 0 10px;
      }
      .grup {
        margin: 0 0 30px;
        .man {
          height: 280px;
        }
        .sideIz {
          width: 90vw;

          height: auto;

          h2 {
            margin: 10px 0 10px;
            font-size: 18px;
            background-color: $detalles;
            width: 100%;
            padding-left: 22px;
            span {
              margin: 4px 0 0 15px;
            }
          }
          h3 {
            font-size: 12px;

            padding-left: 20px;
          }
        }
      }
    }
    .club {
      margin-bottom: 30px;
      h1 {
        font-size: 24px;
        margin: 0 0 10px;
      }
      h3 {
        font-size: 12px;
        width: 85%;
      }
      .galeria {
      }
    }
  }
}
