.presencial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $second;

  .clases {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 30px;
      text-align: center;
      h1 {
        font-size: 70px;
        margin-bottom: 40px;
      }
      h2 {
        font-size: 20px;
        margin: 0 70px 10px;
      }
    }
    .botones {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 60vw;

      .conjunto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .boton {
          margin: 50px;
          height: 200px;
          transition: transform 0.4s ease-in-out;
        }
        .boton:hover {
          scale: 1.1;
          transform: rotate(-360deg);
        }
      }
    }
  }
  .infoclub {
    width: 70%;
    margin-bottom: 100px;
    cursor: pointer;
    h1 {
      text-align: center;
      margin: 15px;
      font-size: 55px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .tarifas {
      width: 100%;
      .box {
        padding: 10px 50px;
        margin-bottom: 10px;
        background-color: $detalles;
        h2 {
          font-size: 30px;
        }
        h3 {
          font-size: 20px;
        }
        .tabla {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          .columniz {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 80px;
          }
          .columnde {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 80px;
          }
        }
      }
      .nobox {
        display: none;
      }
    }
  }
}
